@import url('https://fonts.googleapis.com/css2?family=roboto:wght@300;400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

body {
    display: flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(/img/Background.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 600px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.form-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: 1s ease-in-out;
}

.wrapper.active .form-wrapper.sign-in {
    transform: scale(0) translate(-300px, 500px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 0;
    transform: scale(0) translate(200px, -500px);
}

.wrapper.active .form-wrapper.sign-up {
    transform: scale(1) translate(0, 0);
}

.logo {
    width: 120px;
    height: 120px;
    display: block;
    margin: 0 auto 5px auto;
}

h2 {
    font-size: 30px;
    color: rgb(0, 3, 161);
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #0018a3;

}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font: 16px;;
    color: #0018a3;
    pointer-events: none;
    transition: .5s;
}

.input-group input {
    width: 320px;
    height: 40px;
    font-size: 16px;
    color: #0018a3;
    padding: 0 5px;
    background: transparent;
    border: none;
    outline: none;
}

.input-group input:focus~ label,
.input-group input:valid~ label {
    top: -5px;
}

.remember {
    margin: -5px 0 15px 0;
}

.remember label {
    color: #0018a3;
    font-size: 14px;
}

.remember label input {
    accent-color: #0300c7;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background: #0300c7;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    outline: none;
}

.signUp-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signUp-link p {
    color: #0018a3;
}

.signUp-link p a {
    color: #ff0000;
    text-decoration: none;
    font-weight: 500;

}

.signUp-link p a:hover {
    text-decoration: underline;
}